.BadgeEdit__hero {
    width: calc(100% -  50px);
    padding: 2rem 0;
    background: url('../../IMAGES/fonds.gif'), #1B1B25;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-bottom: 1rem;
    margin: 0 auto;
    height: 420px;
    border-radius: 50px;
    z-index: 0;
  }

