.BadgeNew__hero {
  width:  100%;
  height: 700px;
  margin-bottom: 25px;
 }

 .BadgeNew__hero img{
   width: inherit;
   height: inherit;

 }
  
  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  

  
  .Badges__buttons {
    
    display: flex;
    justify-content: center;
  
    margin-bottom: 1rem;
  
    
  }

  