.containerli{
    background: rgba(23, 23, 29, 0.9);
    box-shadow: 0px 2px 36px 9px rgba(0,0,0,0.97);

    display: grid;
    grid-template-columns: 100px 1fr 150px;
    grid-template-areas: 'img content contact';
    grid-template-rows: 1fr;
    margin-bottom: 20px;
    grid-column-gap: 10px;
    border-radius: 10px;
    width: 100%;
    border-left:1px solid #f9fafc;
    border-right:1px solid #f9fafc;
 
    height: 100px;

}

.containerli:hover{
    cursor: pointer;
}

.containerli img{
    display: grid;
    grid-area: img;
    justify-self: center;
    align-self: center;
    border-radius: 50%;


   
}

.containerli__info{
    display: grid;
    grid-area: content;
    justify-content: start;
    align-items: center;
    margin-top: 0px;
  
    
}

.containerli__info h2{
   margin-top: 5px;
    color: #f9fafc;
    font-size: 25px;

    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
}
.containerli__info h3{
    margin-left: 10px;
    color: #f9fafc;
    font-size: 15px;
    margin-bottom: 15px;
    font-style: italic;
    border-bottom: 2px solid  #ec3750 ;
    width: 200px;

}



.containerli__info .contact{
    display: grid;
    grid-area: contact;
    

    
    
}

.contact p{
    margin-top: 10px;
    text-align: center;
    color: #f1c40f;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
}

.contact p:hover{
    color: #e1306c;
}

.contact img{
    
    margin: 0 auto;
    margin-top: 15px;

    width: 30px;
    height: 30px;
    
    
}


