.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   width: 400px;
   border-radius: 50px;
   height: 650px;
   
    margin-bottom: 20px;
    color: #fff;

    background: rgba(23, 23, 29, 0.9);

 }
 .container-view{
   display: flex;
   justify-content: center;


 }





 .formulario .title{
   margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
    z-index: 3;
    border-bottom: 2px solid #ec3750;

  }
 .form-group {
   width: 100%;
   text-align: center;

 }

 .form-group input{

   width: 350px;
   
   
 }

 
 .formulario input:active{
   border: 1px solid #ec3750;
 }

 .form-group input:placeholder-shown{
   text-align: center;
   color: #ec3750;
   
 }

 button{
   margin: 0 auto;
 }